
body{
    background-color: #eae2b7;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    text-align: center;
}

p{
    font-size:larger;
}
#note{
    color: #490043;
    font-size: xx-large;
    display: inline-block;
}

.calculator{
    background-color: #003049;
    margin:15vh auto;
    width: 20vw;
    height: 40vh;
    border-radius: 5px;
    text-align: center;
    padding:5px;
    color: #fcbf49;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;


      box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}

.style-row, .outputLine{
    border: 1px solid #f17d0071;
    width: 85%;
    border-radius: 2px;
}
.outputLine{
    text-align: end;
    padding:5px 15px; 
}


.style-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 15px; 
}

button{
    padding: 10px 15px;
    border-radius: 2px;
    border:none;
}

.divide,.mult,.plus,.minus{
    background-color: #f77f00;
}
.equal{
    background-color: #ee3f3f;
}

#clr{
    margin-top: 10px;
}

.test_skill{
    border-top:2px solid #f77f00;
}
